{% extends "base.html" %}
{% load static %} 

{% url 'user_detail' as user_detail %}

{% block content %}

<div class="container-fluid">
    <h2> Users: </h2>
    <div class="row">
        {% for UserProf in UserList %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{% url 'user_detail' UserProf.slug %}">
                        <p class="card-text">{{UserProf.fname}} {{UserProf.lname}}</p>
                        <p> {{UserProf.slug}}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}