{% extends "base.html" %}
{% load static %} 

{% url 'user_detail' as user_detail %}


{% block content %}

<div class="container-fluid">
    <h2> Users </h2>
    <div class="row">
        {% for UserProf in UserList %}
        <div class="col-md-3">
            <div class="card mb-3">
                <a href="{% url 'user_detail' UserProf.slug %}">
                    {% if "placeholder" in UserProf.profile_image.url %}
                    <img class="card-img-top" src="{% static 'media/nobody.jpg' %} "
                    alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src=" {{ UserProf.profile_image.url }}"
                    alt="{{ UserProf.slug}}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <a href="{% url 'user_detail' UserProf.slug %}"><h3 class="card-title">{{UserProf.fname}} {{UserProf.lname}}</h3></a>
                    <p class="card-text"> Phone: <a href="tel:{{UserProf.phone}}"> {{UserProf.phone}} </a> </p>
                    <div class="row">
                        <p class="card-text col">
                                Role: 
                                <span class="badge {% if UserProf.role == 0 %}bg-info{% else %}bg-warning{% endif %}">
                                    {{ UserProf.get_role_display }}
                                </span>
                        </p>
                        {% if UserProf.role == 1 %}
                        <p class="card-text col">Trades: {{UserProf.trade}} </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}