{% extends "base.html" %}
{% load static %} 
{% load crispy_forms_tags %}

{% url 'account_signup' as signup_url %}
{% url 'planner_home' as planner_home%}
{% url 'UserList' as UserList %}
{% url 'add_user' as add_user %}
{% url 'job_detail' as job_detail%}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <button class="btn col-6 p-3 btn-primary" onclick="location.href='{% url 'UserList' %}';"> Click to view users </button>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <button  class="btn col-6 p-3 btn-success" onclick="location.href='{% url 'add_user' %}';"> Click to add a user </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">  
                <div class="card-header d-flex justify-content-between">
                    <h2 class="card-title"> Jobs </h1>
                    <button type="button" class="btn btn-primary" id="add_job_button">
                        Add Job
                    </button>
                </div>
                <div class="row">
                    <div class="card_body"> 
                        {% if job == null %}
                        <p class="card-text"> There are no Jobs. Click add job to create a job</p>
                        {% else %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Job Number</th>
                                    <th scope="col">Date Created</th>
                                    <th scope="col">Created by</th>
                                    <th scope="col">Job Description </th>
                                    <th scope="col">Street</th>
                                    <th scope="col">Postcode </th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="jobTableBody">
                                {% for job in job|dictsort:"job_number" %}
                                <tr>
                                    <td class="cursor-click" onclick="window.location='{% url 'job_detail' job.slug %}'">{{ job.job_number }}</td>
                                    <td class="cursor-click" onclick="window.location='{% url 'job_detail' job.slug %}'">{{ job.created_on }}</td>
                                    <td class="cursor-click" onclick="window.location='{% url 'job_detail' job.slug %}'">{{ job.created_by }}</td>
                                    <td class="cursor-click" onclick="window.location='{% url 'job_detail' job.slug %}'">{{ job.job_description }}</td>
                                    <td class="cursor-click" onclick="window.location='{% url 'job_detail' job.slug %}'">{{ job.street }}</td>
                                    <td class="cursor-click" onclick="window.location='{% url 'job_detail' job.slug %}'">{{ job.postcode }}</td>
                                    <td class="cursor-click" onclick="window.location='{% url 'job_detail' job.slug %}'"><span class="job_status">{{ job.get_status_display }}</span></td>
                                    <td> 
                                        <button type="button" class="btn btn-primary edit-job-button"
                                        data-job_id="{{ job.id }}"
                                        data-slug={{job.slug}}
                                        data-customer_name="{{ job.customer_name }}"
                                        data-phone="{{ job.phone }}"
                                        data-other_phone="{{ job.other_phone }}"
                                        data-email="{{ job.email }}"
                                        data-street="{{ job.street }}"
                                        data-town_city="{{ job.town_city }}"
                                        data-county="{{ job.county }}"
                                        data-postcode="{{ job.postcode }}"
                                        data-job_description="{{ job.job_description }}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn btn-delete" data-job_id="{{ job.id }}"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                
                        </table>
                        {% endif %}
                        <div id="add_task_div">
                            <form id="edit_job_form" method="post" action="{% url 'planner_home' %}" enctype="multipart/form-data">
                                <!-- Your form fields go here -->
                                {% csrf_token %}
                                {{ edit_job_form | crispy }}
                                <button type="submit" class="btn btn-secondary" name="edit_job">Edit</button>
                                <button type="button" id="cancel_button" class="btn btn-secondary cancel_button">Cancel</button>
                            </form>
                            {% if edit_job_form.errors %}
                            <div class="alert alert-danger">
                                <strong>Error!</strong> Please correct the following errors:
                                <ul>
                                    {% for field, error in edit_job_form.errors.items %}
                                        <li>{{ field|title }}: {{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            <form id="add_job_form" method="post" action="{% url 'planner_home' %}">
                                <!-- Your form fields go here -->
                                {% csrf_token %}
                                {{ add_job_form | crispy}}
                                <button type="submit" class="btn btn-secondary" name="add_job">Submit</button>
                                <button type="button" id="cancel_button" class="btn btn-secondary cancel_button">Cancel</button>
                            </form>
                            {% if add_job_form.errors %}
                            <div class="alert alert-danger">
                                <strong>Error!</strong> Please correct the following errors:
                                <ul>
                                    {% for field, error in add_job_form.errors.items %}
                                        <li>{{ field|title }}: {{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock content %}

{% block script %}
    <script src="{% static  'js/script_planner_home.js' %}"> </script>
{% endblock script %}