{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src:"" class="card-img-top" alt="profile image">
                <div class="card-body">
                    <h2 class="card-title">{{user.fname}} {{user.lname}}</h2>
                    <h4 class="card-text"> Role: {{user.get_role_display}} </h4>
                    {% if user.role == 1 %}
                    <p class="card-text"> Trades: {{user.get_trade_display}} </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"> Contact Details </h2>
                    <div class="row">
                        <div class="col">
                            <p class="card-text"> Phone number: {{user.phone}} </p>
                            <p class="card-text"> Other phone number: {{user.other_phone}} </p>
                            <p class="card-text"> Medical Conditions: {{user.medical}} </p>
                            <p class="card-text"> Emergency Contact Name: {{user.emergency_name}} </p>
                            <p class="card-text"> Emergency Contact Phone: {{user.emergency_number}} </p>
                        </div>
                        <div class="col">
                            <h4 class="card-title"> Address: </h4>
                            <p class="card-text"> House name/ Number:{{user.address_ln_1}} </p>
                            <p class="card-text"> Street: {{user.address_ln_2}} </p>
                            <p class="card-text"> Town/City: {{user.address_ln_3}} </p>
                            <p class="card-text"> Post Code: {{user.postcode}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user.role == 1 %}
    <div class="row">
        <div class="col-6">
            <div class="card">  
            <h2 class="card-title"> Certifications </h1>
            </div>
        </div>
        <div class="col-6">
            <div class="card"> 
            <h2 class="card-title"> Job History </h1>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
