{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row" height="400px">
            <div class="col-4 center"> placeholder for screenshot of list of jobs </div>
            {% if user.is_authenticated %}
            <button class="col-4 center btn btn-primary btn-lg" onclick="location.href='{% url 'account_login' %}';"> Click here to enter as {{ userProfile.role }} </button>
            {% else %}
            <button class="col-4 center btn btn-primary btn-lg" onclick="location.href='{% url 'account_login' %}';"> Click here to login </button>
            {% endif %}
            <div class="col-4 center"> placeholder for screenshot of job details </div>
    </div>
</div>

{% endblock content %}