{% extends 'base.html' %}
{% load static %}

{% url 'planner_home' as 'planner_home' %}
{% url 'tradesman_home' as 'tradesman_home' %}

{% block content %}
<div class="container-fluid">
    <div class="row" height="400px">
        <div class=" col-12 d-flex justify-content-center"> 
            {% if user.is_authenticated %}
                {% if user_profile.role == 0 %}
                    <button class=" col-8 p-20 center btn btn-warning btn-lg" onclick="location.href='{% url 'planner_home' %}';"> Click here to enter as Planner </button>
                {% else %}
                    <button class="col-8 p-20 center btn btn-warning btn-lg" onclick="location.href='{% url 'tradesman_home' %}';"> Click here to enter as Tradesman </button>
                {% endif %}
            {% else %}
                <button class="col-4 p-20 m-1 center btn btn-success btn-lg" onclick="location.href='{% url 'account_login' %}';"> Click here to login </button>
                <button class="col-4 p-20 m-1 center btn btn-info btn-lg" onclick="location.href='{% url 'account_signup' %}';"> Click here to register </button>
            {% endif %}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class=" col-6">
            <h3>Introduction</h3>
            <p>Welcome to Job list, our all-in-one solution for seamless job and task management in the construction industry. Whether you're on the ground as a tradesman or managing operations as a planner, our platform is designed to keep everyone connected and on track.</p>
            <p> For tradesmen, Job List offers an intuitive interface to easily access your assigned jobs, update completion statuses, and manage tasks. Stay organized, track your progress, and ensure your profile is always up-to-date.</p>
            <p> For planners, Job List provides powerful tools to oversee every aspect of your projects. From adding and managing jobs to organizing tasks and maintaining user profiles, you'll have complete control at your fingertips. With BuildTrac, streamlining your construction projects has never been easier.</p>
            <p> If you already have an account, click to log in now. If not, press the register button to get started!</p>
        </div>
        <picture class=" col-12 d-flex justify-content-center">
            <source srcset="{% static  'media/tradesman_home_example_phone.jpg' %}" media="(max-width: 992px)">
            <img src="{% static  'media/tradesman_home_example.jpg' %}" alt="Screenshot of the planners home page" class="col-12 home-img rounded">  
        </picture>
    </div>
</div>

{% endblock content %}