{% extends 'base.html' %}
{% load static %}

{% url 'planner_home' as 'planner_home' %}
{% url 'tradesman_home' as 'tradesman_home' %}

{% block content %}
<div class="container-fluid">
    <div class="row" height="400px">
            <div class="col-4 center"> placeholder for screenshot of list of jobs </div>
            {% if user.is_authenticated %}
                {% if user_profile.role == 0 %}
                    <button class="col-4 p-20 center btn btn-primary btn-lg" onclick="location.href='{% url 'planner_home' %}';"> Click here to enter as Planner </button>
                {% else %}
                    <button class="col-4 p-20 center btn btn-primary btn-lg" onclick="location.href='{% url 'tradesman_home' %}';"> Click here to enter as Tradesman </button>
                {% endif %}
            {% else %}
                <button class="col-4 center btn btn-primary btn-lg" onclick="location.href='{% url 'account_login' %}';"> Click here to login </button>
            {% endif %}
            <div class="col-4 center"> placeholder for screenshot of job details </div>
    </div>
</div>

{% endblock content %}